@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito', Helvetica, sans-serif;
	height: 100vh;
}

#calculator {
	display: grid;
	grid-template-areas:
		"display display display display"
		"clear . . divide"
		"seven eight nine multiply"
		"four five six subtract"
		"one two three add"
		"zero zero decimal-point equals";
	grid-template-columns: repeat(4, 60px);
	grid-template-rows: 60px repeat(5, 50px);
	grid-gap: 2px;
	justify-items: center;
	background-color: #333;
	padding: 3px;
	font-size: 2rem;
	box-shadow: 0 0 15px #ccc;
}

button {
	font-size: 2rem;
	border: none;
	width: 100%;
}

#display {
	grid-area: display;
	color: #fff;
	background-color: #222;
	width: 86%;
	padding: 0 7%;
	text-align: right;
	font-size: 2.7rem;
}

#nine {
	grid-area: nine;
}

#eight {
	grid-area: eight;
}

#seven {
	grid-area: seven;
}

#six {
	grid-area: six;
}

#five {
	grid-area: five;
}

#four {
	grid-area: four;
}

#three {
	grid-area: three;
}

#two {
	grid-area: two;
}

#one {
	grid-area: one;
}

#zero {
	grid-area: zero;
}

#decimal-point {
	grid-area: decimal-point;
}

#clear {
	grid-area: clear;
}

#divide {
	grid-area: divide;
}

#multiply {
	grid-area: multiply;
}

#subtract {
	grid-area: subtract;
}

#add {
	grid-area: add;
}

#equals {
	grid-area: equals;
}

.number {
	background-color: #ccc;
}

.operator,
#equals {
	background-color: orange;
	color: #fff;
}
